@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: orange;
}

.signUp-wrapper{
    width: 40%;
    background: #fff;
    border: 2px solid;
    border-radius: 10px;
    padding: 30px 40px;
    
}

.signUp-wrapper h1{
    text-align: center;
    color: black;
}

.signUp-wrapper .input-box{
    position: relative;
    width: 100%;
    height: 30px; 
    margin: 30px 0;
    padding-bottom: 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    display: block;
    outline: none;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
    
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 20px;
    visibility: hidden;
}

.input-box small{
    visibility: hidden;
    position: absolute;
    top: 43px;
    left: 30px;
}

/* changing borders and icons on success and error */

.input-box.success input{
    border-color: rgb(52, 253, 52);
    visibility: visible;
}

.input-box.success i.fa-circle-check{
    visibility: visible;
    color: rgb(52, 253, 52);   
}

.input-box.error small, .input-box.error i.fa-circle-exclamation{
    border-color: rgb(252, 48, 48);
    visibility: visible;
    color: red;
}

.input-box.error input{
    border-color: rgb(252, 48, 48);
}

/* ------------------------------------------------- */


.show-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 0 10px;
    margin-bottom: 10px;
    color: #333;
}

.show-password input{
    width: 20px;
    margin-right: 5px;
    accent-color: #333;
}


.show-password label{
    width: fit-content;
}

.signUp-wrapper .btn{
    width: 100%;
    height: 30px;
    background: #f03939;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 120px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

.signUp-wrapper .btn:hover{
    background-color: #333;
    color: #fff;
    font-weight: 500;
}


.signUp-wrapper .login-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    margin: 20px 0 10px;
}

.signUp-wrapper .login-link a{
    text-decoration: none;
    color: #333;
}

.signUp-wrapper .login-link a:hover{
    text-decoration: underline;
    font-weight: 600;
}


