@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333333;
    z-index: 1;
}

.main-header{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}
.main-header h1{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-header img{
    
    width: auto ;
    cursor: pointer;
}

.main-header .nav-bar{
    width: 100%;
}

.main-header .nav-bar ul{
    display: flex;
    height: 70px;
    list-style: none;
    gap: 3em;   
    justify-content: center;
    align-items: center;
}

.main-header .nav-bar ul li{
    font-size: large;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.main-header .nav-bar ul li a{
    text-decoration: none;
    color: inherit;
}

.main-header .nav-bar ul li a:hover{
    color: rgb(8, 255, 255);
    
}


/**************************************************************************/
/*                             NavBar Completed                           */
/**************************************************************************/


/**************************************************************************/
/*                            Section One Started                         */
/**************************************************************************/


/* --------------------------  Left Side  ---------------------------- */

.section-one {
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    padding: 100px 0px 0px;
}

.section-heading2 {
    margin-left: 20px;
    padding: 0px 25px 25px 25px;
    font-family: 'Poppins',sans-serif;
    font-size: 25px;
    color: #ff5722;
}

.section-heading3 {
    margin-left: 15px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}
.moving-text {
    color: #111D5E;
    display: flex;
    position: relative;
}

.static-text {
    color: #fe346E;
}
.goal {
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    margin-left: 20px;
}
.get-started {
    background-color: #333333;
    color: white;
    display: flex;
    align-content: center;
    margin: 40px;
    font-size: 20px;
    padding: 18px 36px 16px 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    
}

.get-started:hover{
    background-color: #ff4811c4;
}
/* --------------------------  Right Side  ---------------------------- */

.section-one-right{

    width: 50%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-one-right img{
    width: 60%;
    
    
}
.see-more{
    position: absolute;
    left: 45%;
    bottom: 5%;
    width: 170px;
    padding: 7px 20px;
    border: 2px solid black;
    border-radius: 35px;
    box-shadow: inset 0 0 0 0 rgb(63, 61, 86);
    cursor: pointer;
    transition: all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    animation: animate 3s ease infinite;
}

@keyframes animate {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

.see-more span{
    font-size: 18px;
    font-weight: bolder;
}

.see-more:hover {
    color: white;
    border: transparent;
    box-shadow: inset 170px 0 0 1px rgb(63, 61, 86);
}

/**************************************************************************/
/*                            Section One Completed                       */
/**************************************************************************/



/**************************************************************************/
/*                            Section two started                         */
/**************************************************************************/

.section-two{
    height: calc(100vh - 70px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.main-heading{
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif ;
    text-transform: capitalize;
}


.cards-container{
    width: 100%;
    height: 100vh;
}

.cards-container .row1 , .cards-container .row2{
    width: 100%;
    height: 40%;
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
}


.card{
    width: 30%;
    height: 90%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


/* For Active */

.active{
    color: aqua !important;
}